.access-denied-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .access-denied-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .access-denied-container p {
    margin-bottom: 20px;
  }
  
  .access-denied-container button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  